Document canvas too small for large graph

The document is cut off, not all nodes and edges are visible when viewing the PDF in a document viewer.

## Steps to reproduce:

I have the following dot file:

<details><summary><code>tls.dot</code></summary>
<pre><code>digraph {
  rankdir = LR

  RFC2246 -> RFC4346 [label="Obsoleted by" style=dotted];
  RFC2246 -> RFC3546 [label="Updated by"];
  RFC2246 -> RFC5746 [label="Updated by"];
  RFC2246 -> RFC6176 [label="Updated by"];
  RFC2246 -> RFC7465 [label="Updated by"];
  RFC2246 -> RFC7507 [label="Updated by"];
  RFC2246 -> RFC7919 [label="Updated by"];
  RFC4346 -> RFC5246 [label="Obsoleted by" style=dotted];
  RFC4346 -> RFC4366 [label="Updated by"];
  RFC4346 -> RFC4680 [label="Updated by"];
  RFC4346 -> RFC4681 [label="Updated by"];
  RFC4346 -> RFC5746 [label="Updated by"];
  RFC4346 -> RFC6176 [label="Updated by"];
  RFC4346 -> RFC7465 [label="Updated by"];
  RFC4346 -> RFC7507 [label="Updated by"];
  RFC4346 -> RFC7919 [label="Updated by"];
  RFC3546 -> RFC4366 [label="Obsoleted by" style=dotted];
  RFC6176 -> RFC8996 [label="Updated by"];
  RFC7465 -> RFC8996 [label="Updated by"];
  RFC7507 -> RFC8996 [label="Obsoleted by" style=dotted];
  RFC5246 -> RFC8446 [label="Obsoleted by" style=dotted];
  RFC5246 -> RFC5746 [label="Updated by"];
  RFC5246 -> RFC5878 [label="Updated by"];
  RFC5246 -> RFC6176 [label="Updated by"];
  RFC5246 -> RFC7465 [label="Updated by"];
  RFC5246 -> RFC7507 [label="Updated by"];
  RFC5246 -> RFC7568 [label="Updated by"];
  RFC5246 -> RFC7627 [label="Updated by"];
  RFC5246 -> RFC7685 [label="Updated by"];
  RFC5246 -> RFC7905 [label="Updated by"];
  RFC5246 -> RFC7919 [label="Updated by"];
  RFC5246 -> RFC8447 [label="Updated by"];
  RFC5246 -> RFC9155 [label="Updated by"];
  RFC4366 -> RFC5246 [label="Obsoleted by" style=dotted];
  RFC4366 -> RFC6066 [label="Obsoleted by" style=dotted];
  RFC4366 -> RFC5746 [label="Updated by"];
  RFC4680 -> RFC8447 [label="Updated by"];
  RFC4680 -> RFC8996 [label="Updated by"];
  RFC4681 -> RFC8996 [label="Updated by"];
  RFC5878 -> RFC8447 [label="Updated by"];
  RFC5878 -> RFC8996 [label="Updated by"];
  RFC7568 -> RFC8996 [label="Updated by"];
  RFC6066 -> RFC8446 [label="Updated by"];
  RFC6066 -> RFC8449 [label="Updated by"];
}</code></pre></details>

When I compile it using `dot2tex -f tikz tls.dot > tls.tex`, I'm getting the following result:

<details><summary><code>tls.tex</code></summary>
<pre><code>\documentclass{article}
\usepackage[x11names, svgnames, rgb]{xcolor}
\usepackage[utf8]{inputenc}
\usepackage{tikz}
\usetikzlibrary{snakes,arrows,shapes}
\usepackage{amsmath}
%
%

%

%

\begin{document}
\pagestyle{empty}
%
%
%

\enlargethispage{100cm}
% Start of code
\begin{tikzpicture}[>=latex',line join=bevel,]
%%
\node (RFC2246) at (53.945bp,449.17bp) [draw,ellipse] {RFC2246};
  \node (RFC4346) at (291.84bp,449.17bp) [draw,ellipse] {RFC4346};
  \node (RFC3546) at (291.84bp,101.17bp) [draw,ellipse] {RFC3546};
  \node (RFC5746) at (1019.4bp,40.172bp) [draw,ellipse] {RFC5746};
  \node (RFC6176) at (1019.4bp,716.17bp) [draw,ellipse] {RFC6176};
  \node (RFC7465) at (1019.4bp,770.17bp) [draw,ellipse] {RFC7465};
  \node (RFC7507) at (1019.4bp,874.17bp) [draw,ellipse] {RFC7507};
  \node (RFC7919) at (1019.4bp,232.17bp) [draw,ellipse] {RFC7919};
  \node (RFC5246) at (781.51bp,449.17bp) [draw,ellipse] {RFC5246};
  \node (RFC4366) at (529.73bp,135.17bp) [draw,ellipse] {RFC4366};
  \node (RFC4680) at (1019.4bp,391.17bp) [draw,ellipse] {RFC4680};
  \node (RFC4681) at (655.62bp,824.17bp) [draw,ellipse] {RFC4681};
  \node (RFC8996) at (1257.3bp,716.17bp) [draw,ellipse] {RFC8996};
  \node (RFC8446) at (1019.4bp,164.17bp) [draw,ellipse] {RFC8446};
  \node (RFC5878) at (1019.4bp,337.17bp) [draw,ellipse] {RFC5878};
  \node (RFC7568) at (1019.4bp,445.17bp) [draw,ellipse] {RFC7568};
  \node (RFC7627) at (1019.4bp,661.17bp) [draw,ellipse] {RFC7627};
  \node (RFC7685) at (1019.4bp,607.17bp) [draw,ellipse] {RFC7685};
  \node (RFC7905) at (1019.4bp,553.17bp) [draw,ellipse] {RFC7905};
  \node (RFC8447) at (1257.3bp,319.17bp) [draw,ellipse] {RFC8447};
  \node (RFC9155) at (1019.4bp,499.17bp) [draw,ellipse] {RFC9155};
  \node (RFC6066) at (781.51bp,135.17bp) [draw,ellipse] {RFC6066};
  \node (RFC8449) at (1019.4bp,96.172bp) [draw,ellipse] {RFC8449};
  \draw [->,dotted] (RFC2246) ..controls (143.27bp,449.17bp) and (189.44bp,449.17bp)  .. (RFC4346);
  \definecolor{strokecol}{rgb}{0.0,0.0,0.0};
  \pgfsetstrokecolor{strokecol}
  \draw (172.89bp,456.67bp) node {Obsoleted by};
  \draw [->] (RFC2246) ..controls (54.113bp,382.84bp) and (59.652bp,250.95bp)  .. (125.89bp,173.17bp) .. controls (153.15bp,141.16bp) and (197.34bp,122.9bp)  .. (RFC3546);
  \draw (172.89bp,180.67bp) node {Updated by};
  \draw [->] (RFC2246) ..controls (53.136bp,377.44bp) and (56.159bp,217.52bp)  .. (125.89bp,113.17bp) .. controls (175.27bp,39.289bp) and (201.97bp,0.1716bp)  .. (290.84bp,0.1716bp) .. controls (290.84bp,0.1716bp) and (290.84bp,0.1716bp)  .. (782.51bp,0.1716bp) .. controls (856.12bp,0.1716bp) and (875.53bp,-0.51479bp)  .. (947.45bp,15.172bp) .. controls (956.06bp,17.05bp) and (965.07bp,19.676bp)  .. (RFC5746);
  \draw (529.73bp,7.6716bp) node {Updated by};
  \draw [->] (RFC2246) ..controls (105.94bp,517.73bp) and (224.6bp,664.1bp)  .. (363.78bp,718.17bp) .. controls (566.7bp,797.0bp) and (635.77bp,727.5bp)  .. (853.45bp,730.17bp) .. controls (895.23bp,730.68bp) and (905.87bp,734.23bp)  .. (947.45bp,730.17bp) .. controls (952.44bp,729.68bp) and (957.59bp,729.01bp)  .. (RFC6176);
  \draw (529.73bp,762.67bp) node {Updated by};
  \draw [->] (RFC2246) ..controls (70.918bp,496.78bp) and (93.58bp,555.52bp)  .. (125.89bp,597.17bp) .. controls (202.36bp,695.74bp) and (245.69bp,705.93bp)  .. (363.78bp,746.17bp) .. controls (572.66bp,817.35bp) and (840.97bp,794.42bp)  .. (RFC7465);
  \draw (529.73bp,796.67bp) node {Updated by};
  \draw [->] (RFC2246) ..controls (60.13bp,552.69bp) and (90.635bp,904.17bp)  .. (290.84bp,904.17bp) .. controls (290.84bp,904.17bp) and (290.84bp,904.17bp)  .. (782.51bp,904.17bp) .. controls (843.91bp,904.17bp) and (913.59bp,894.04bp)  .. (RFC7507);
  \draw (529.73bp,911.67bp) node {Updated by};
  \draw [->] (RFC2246) ..controls (84.733bp,373.97bp) and (164.24bp,202.17bp)  .. (290.84bp,202.17bp) .. controls (290.84bp,202.17bp) and (290.84bp,202.17bp)  .. (782.51bp,202.17bp) .. controls (856.08bp,202.17bp) and (874.74bp,204.94bp)  .. (947.45bp,216.17bp) .. controls (953.0bp,217.03bp) and (958.77bp,218.07bp)  .. (RFC7919);
  \draw (529.73bp,209.67bp) node {Updated by};
  \draw [->] (RFC4346) ..controls (291.94bp,381.72bp) and (297.3bp,245.6bp)  .. (363.78bp,163.17bp) .. controls (509.48bp,-17.469bp) and (829.06bp,9.5248bp)  .. (RFC5746);
  \draw (655.62bp,38.672bp) node {Updated by};
  \draw [->] (RFC4346) ..controls (444.4bp,496.11bp) and (757.36bp,597.87bp)  .. (835.45bp,670.17bp) .. controls (848.58bp,682.33bp) and (838.53bp,696.31bp)  .. (853.45bp,706.17bp) .. controls (884.64bp,726.77bp) and (926.8bp,729.0bp)  .. (RFC6176);
  \draw (655.62bp,604.67bp) node {Updated by};
  \draw [->] (RFC4346) ..controls (327.99bp,476.46bp) and (346.46bp,489.83bp)  .. (363.78bp,500.17bp) .. controls (570.2bp,623.48bp) and (626.1bp,651.91bp)  .. (853.45bp,730.17bp) .. controls (888.47bp,742.23bp) and (928.86bp,752.09bp)  .. (RFC7465);
  \draw (655.62bp,684.67bp) node {Updated by};
  \draw [->] (RFC4346) ..controls (297.98bp,512.52bp) and (312.71bp,632.12bp)  .. (363.78bp,715.17bp) .. controls (398.73bp,772.02bp) and (416.4bp,784.72bp)  .. (475.78bp,815.17bp) .. controls (557.85bp,857.26bp) and (828.88bp,869.46bp)  .. (RFC7507);
  \draw (655.62bp,866.67bp) node {Updated by};
  \draw [->] (RFC4346) ..controls (359.61bp,393.96bp) and (481.42bp,300.91bp)  .. (601.67bp,265.17bp) .. controls (749.1bp,221.35bp) and (795.4bp,274.32bp)  .. (947.45bp,251.17bp) .. controls (954.24bp,250.14bp) and (961.3bp,248.7bp)  .. (RFC7919);
  \draw (655.62bp,272.67bp) node {Updated by};
  \draw [->,dotted] (RFC4346) ..controls (436.1bp,449.17bp) and (618.7bp,449.17bp)  .. (RFC5246);
  \draw (529.73bp,456.67bp) node {Obsoleted by};
  \draw [->] (RFC4346) ..controls (299.5bp,391.44bp) and (315.65bp,296.75bp)  .. (363.78bp,236.17bp) .. controls (394.77bp,197.17bp) and (445.24bp,169.45bp)  .. (RFC4366);
  \draw (410.78bp,243.67bp) node {Updated by};
  \draw [->] (RFC4346) ..controls (474.7bp,434.63bp) and (813.9bp,407.52bp)  .. (RFC4680);
  \draw (655.62bp,431.67bp) node {Updated by};
  \draw [->] (RFC4346) ..controls (293.75bp,510.81bp) and (302.48bp,619.11bp)  .. (363.78bp,675.17bp) .. controls (400.69bp,708.92bp) and (542.02bp,695.48bp)  .. (583.67bp,723.17bp) .. controls (610.48bp,740.99bp) and (630.25bp,772.67bp)  .. (RFC4681);
  \draw (410.78bp,706.67bp) node {Updated by};
  \draw [->,dotted] (RFC3546) ..controls (378.74bp,113.55bp) and (429.18bp,120.82bp)  .. (RFC4366);
  \draw (410.78bp,132.67bp) node {Obsoleted by};
  \draw [->] (RFC6176) ..controls (1108.7bp,716.17bp) and (1154.9bp,716.17bp)  .. (RFC8996);
  \draw (1138.3bp,723.67bp) node {Updated by};
  \draw [->] (RFC7465) ..controls (1099.6bp,754.37bp) and (1145.3bp,744.76bp)  .. (1185.3bp,735.17bp) .. controls (1191.3bp,733.74bp) and (1197.5bp,732.18bp)  .. (RFC8996);
  \draw (1138.3bp,762.67bp) node {Updated by};
  \draw [->,dotted] (RFC7507) ..controls (1108.3bp,873.01bp) and (1153.0bp,865.46bp)  .. (1185.3bp,842.17bp) .. controls (1218.2bp,818.45bp) and (1237.9bp,774.49bp)  .. (RFC8996);
  \draw (1138.3bp,880.67bp) node {Obsoleted by};
  \draw [->] (RFC5246) ..controls (780.72bp,383.16bp) and (784.75bp,252.47bp)  .. (853.45bp,180.17bp) .. controls (883.66bp,148.38bp) and (917.87bp,182.55bp)  .. (947.45bp,150.17bp) .. controls (972.33bp,122.94bp) and (943.31bp,98.659bp)  .. (965.45bp,69.172bp) .. controls (967.85bp,65.974bp) and (970.72bp,63.085bp)  .. (RFC5746);
  \draw (900.45bp,187.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (793.58bp,497.75bp) and (812.78bp,559.61bp)  .. (853.45bp,592.17bp) .. controls (887.03bp,619.05bp) and (917.01bp,584.79bp)  .. (947.45bp,615.17bp) .. controls (971.1bp,638.78bp) and (944.88bp,661.84bp)  .. (965.45bp,688.17bp) .. controls (967.76bp,691.12bp) and (970.46bp,693.8bp)  .. (RFC6176);
  \draw (900.45bp,622.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (788.6bp,504.08bp) and (803.78bp,586.73bp)  .. (853.45bp,630.17bp) .. controls (885.83bp,658.49bp) and (917.69bp,622.12bp)  .. (947.45bp,653.17bp) .. controls (975.68bp,682.62bp) and (940.82bp,710.66bp)  .. (965.45bp,743.17bp) .. controls (967.44bp,745.79bp) and (969.75bp,748.18bp)  .. (RFC7465);
  \draw (900.45bp,660.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (794.11bp,506.07bp) and (816.01bp,598.68bp)  .. (853.45bp,668.17bp) .. controls (864.04bp,687.82bp) and (954.09bp,796.92bp)  .. (RFC7507);
  \draw (900.45bp,793.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (792.7bp,398.95bp) and (811.27bp,333.6bp)  .. (853.45bp,299.17bp) .. controls (886.77bp,271.98bp) and (908.08bp,293.47bp)  .. (947.45bp,276.17bp) .. controls (956.25bp,272.3bp) and (957.34bp,269.33bp)  .. (965.45bp,264.17bp) .. controls (970.72bp,260.82bp) and (976.33bp,257.35bp)  .. (RFC7919);
  \draw (900.45bp,306.67bp) node {Updated by};
  \draw [->,dotted] (RFC5246) ..controls (790.78bp,394.14bp) and (808.4bp,310.05bp)  .. (853.45bp,257.17bp) .. controls (870.93bp,236.66bp) and (933.7bp,204.26bp)  .. (RFC8446);
  \draw (900.45bp,264.67bp) node {Obsoleted by};
  \draw [->] (RFC5246) ..controls (818.39bp,423.03bp) and (836.42bp,411.05bp)  .. (853.45bp,402.17bp) .. controls (890.85bp,382.69bp) and (935.47bp,365.44bp)  .. (RFC5878);
  \draw (900.45bp,409.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (828.08bp,431.08bp) and (841.14bp,427.2bp)  .. (853.45bp,425.17bp) .. controls (894.68bp,418.39bp) and (906.07bp,419.45bp)  .. (947.45bp,425.17bp) .. controls (954.69bp,426.17bp) and (962.23bp,427.72bp)  .. (RFC7568);
  \draw (900.45bp,432.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (800.31bp,491.18bp) and (821.86bp,532.17bp)  .. (853.45bp,554.17bp) .. controls (888.75bp,578.75bp) and (916.05bp,547.78bp)  .. (947.45bp,577.17bp) .. controls (966.85bp,595.33bp) and (948.29bp,613.9bp)  .. (965.45bp,634.17bp) .. controls (967.68bp,636.8bp) and (970.23bp,639.21bp)  .. (RFC7627);
  \draw (900.45bp,584.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (809.52bp,481.99bp) and (830.54bp,503.7bp)  .. (853.45bp,516.17bp) .. controls (891.23bp,536.73bp) and (914.52bp,511.51bp)  .. (947.45bp,539.17bp) .. controls (962.69bp,551.97bp) and (951.79bp,565.7bp)  .. (965.45bp,580.17bp) .. controls (967.85bp,582.72bp) and (970.55bp,585.06bp)  .. (RFC7685);
  \draw (900.45bp,546.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (826.93bp,468.63bp) and (840.67bp,474.02bp)  .. (853.45bp,478.17bp) .. controls (894.36bp,491.46bp) and (911.79bp,477.12bp)  .. (947.45bp,501.17bp) .. controls (958.8bp,508.83bp) and (955.06bp,517.26bp)  .. (965.45bp,526.17bp) .. controls (968.4bp,528.7bp) and (971.62bp,531.07bp)  .. (RFC7905);
  \draw (900.45bp,508.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (805.07bp,411.4bp) and (827.3bp,379.03bp)  .. (853.45bp,358.17bp) .. controls (889.52bp,329.41bp) and (910.05bp,341.16bp)  .. (947.45bp,314.17bp) .. controls (956.88bp,307.36bp) and (954.77bp,299.77bp)  .. (965.45bp,295.17bp) .. controls (1045.9bp,260.57bp) and (1150.3bp,283.64bp)  .. (RFC8447);
  \draw (1019.4bp,302.67bp) node {Updated by};
  \draw [->] (RFC5246) ..controls (868.57bp,449.42bp) and (911.1bp,452.83bp)  .. (947.45bp,463.17bp) .. controls (947.94bp,463.31bp) and (962.74bp,470.81bp)  .. (RFC9155);
  \draw (900.45bp,470.67bp) node {Updated by};
  \draw [->] (RFC4366) ..controls (615.05bp,116.52bp) and (675.12bp,103.54bp)  .. (727.56bp,93.172bp) .. controls (807.69bp,77.326bp) and (900.58bp,60.7bp)  .. (RFC5746);
  \draw (781.51bp,100.67bp) node {Updated by};
  \draw [->,dotted] (RFC4366) ..controls (566.39bp,158.72bp) and (577.09bp,168.65bp)  .. (583.67bp,180.17bp) .. controls (606.93bp,220.91bp) and (575.83bp,245.02bp)  .. (601.67bp,284.17bp) .. controls (633.15bp,331.88bp) and (667.83bp,315.11bp)  .. (709.56bp,354.17bp) .. controls (731.03bp,374.27bp) and (750.63bp,401.52bp)  .. (RFC5246);
  \draw (655.62bp,361.67bp) node {Obsoleted by};
  \draw [->,dotted] (RFC4366) ..controls (622.56bp,135.17bp) and (674.86bp,135.17bp)  .. (RFC6066);
  \draw (655.62bp,142.67bp) node {Obsoleted by};
  \draw [->] (RFC4680) ..controls (1096.9bp,417.49bp) and (1152.9bp,443.8bp)  .. (1185.3bp,485.17bp) .. controls (1233.2bp,546.22bp) and (1248.9bp,639.59bp)  .. (RFC8996);
  \draw (1138.3bp,492.67bp) node {Updated by};
  \draw [->] (RFC4680) ..controls (1106.6bp,391.67bp) and (1149.8bp,387.37bp)  .. (1185.3bp,373.17bp) .. controls (1202.0bp,366.52bp) and (1218.1bp,354.83bp)  .. (RFC8447);
  \draw (1138.3bp,399.67bp) node {Updated by};
  \draw [->] (RFC4681) ..controls (804.03bp,840.13bp) and (1024.0bp,850.9bp)  .. (1185.3bp,774.17bp) .. controls (1202.4bp,766.07bp) and (1218.9bp,753.02bp)  .. (RFC8996);
  \draw (900.45bp,843.67bp) node {Updated by};
  \draw [->] (RFC5878) ..controls (1115.5bp,336.28bp) and (1169.4bp,339.61bp)  .. (1185.3bp,354.17bp) .. controls (1234.3bp,398.85bp) and (1250.5bp,607.82bp)  .. (RFC8996);
  \draw (1138.3bp,361.67bp) node {Updated by};
  \draw [->] (RFC5878) ..controls (1071.4bp,323.35bp) and (1081.7bp,321.35bp)  .. (1091.3bp,320.17bp) .. controls (1124.5bp,316.15bp) and (1161.7bp,315.59bp)  .. (RFC8447);
  \draw (1138.3bp,327.67bp) node {Updated by};
  \draw [->] (RFC7568) ..controls (1061.5bp,462.64bp) and (1068.0bp,467.03bp)  .. (1073.3bp,472.17bp) .. controls (1085.1bp,483.47bp) and (1082.3bp,490.58bp)  .. (1091.3bp,504.17bp) .. controls (1138.0bp,574.27bp) and (1200.9bp,650.93bp)  .. (RFC8996);
  \draw (1138.3bp,633.67bp) node {Updated by};
  \draw [->] (RFC6066) ..controls (866.37bp,128.12bp) and (909.8bp,127.77bp)  .. (947.45bp,135.17bp) .. controls (957.81bp,137.21bp) and (968.56bp,140.76bp)  .. (RFC8446);
  \draw (900.45bp,142.67bp) node {Updated by};
  \draw [->] (RFC6066) ..controls (828.15bp,116.98bp) and (841.2bp,112.81bp)  .. (853.45bp,110.17bp) .. controls (886.09bp,103.16bp) and (923.07bp,99.624bp)  .. (RFC8449);
  \draw (900.45bp,117.67bp) node {Updated by};
%
\end{tikzpicture}
% End of code

%
\end{document}
%



</code></pre></details>

The resulting PDF file looks cut-off and only a few nodes are visible.

PDF created with `pdflatex`: [tls.pdf](https://github.com/kjellmf/dot2tex/files/10020928/tls.pdf)

## Workaround

Using `standalone` work. Edit the resulting `tls.tex` file manually and replace `\documentclass{article}` with `\documentclass{standalone}` and remove the line `\enlargethispage{100cm}`:

    $ sed -i -e 's/^\\documentclass{article}/\\documentclass{standalone}/' -e '/^\\enlargethispage/d' tls.tex

Then all looks good. See #24.

PDF created with `pdflatex`: [tls-standalone.pdf](https://github.com/kjellmf/dot2tex/files/10020933/tls.pdf)

## Version

```
$ dot2tex --version
Dot2tex version 2.11.3
```

Fixed via https://github.com/kjellmf/dot2tex/commit/e9d5a2434d46181c4d10dd3d450b48ceec06caca.